body {
    padding: 0;
    background: #EDEEEF;
  }
  
  body {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: 
      "nav nav nav nav nav nav"
      ". . . . . ."
      "header header header header header header"
      "body body body body body ."
      "footer footer footer footer footer footer";
  }
/*   @media only screen and (max-width: 800px) {
    body {
      background: f4f4f4;
    }
    main {
      grid-template-areas: 
      "footer footer footer footer footer footer"
      ". header header header header ."
      ". header header header header ."
      ". header header header header ."
      ". . . . . ."
      ". nav nav nav nav ."
      ". . title . . ."
      "body body body body body .";
    }
  } */
  
  nav {
    grid-area: nav;
    color: #fff;
    background: #000;
  }

  header {
    grid-area: header;
    height: 100vh;
    background: #EDEEEF;
  }
  .title {
    grid-area: title;
    background: green;
  }
  .body{
    grid-area: body;
    background: white;
  }
  footer{
    grid-area: footer;
    color: #fff;
    background: #000;
  }